body {
    /* background-color: lavender; */
    margin: 0;
    font-family: 'Montserrat';
}

#x {
    height: 60vh;
    margin-top: 40vh;
    margin-left: -10px;
    margin-right:-10px;
    position: relative;
}

#x .icon {
    position: absolute;
    z-index: 2;
    cursor: url('http://static.tumblr.com/tensqk8/rYanq05el/04.png'), auto;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    height: calc(100vh - 20px);
}

nav {
    position: fixed;
    border-top: 10px solid lavender;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
}

.nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: calc(100vw - 20px); */
    width: 100vw;
    margin: auto;
}

.logo {
    margin: 10px;
}

.nav-content > ul {
    list-style: none;
    padding: 0;
    display: flex;
    float: right
}

.nav-content > ul > a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
}

#main {
    margin: auto;
    padding: 50px;
    text-align: center;
}

#main > h1 {
    font-size: 40px;
}

#product {
    border: 1px solid red;
    height: 100vh;
}