body {
    /* background-color: lavender; */
    margin: 0;
    font-family: 'Montserrat';
}

#x {
    height: 60vh;
    margin-top: 40vh;
    margin-left: -10px;
    margin-right:-10px;
    position: relative;
}

#x .icon {
    position: absolute;
    z-index: 2;
    cursor: url('http://static.tumblr.com/tensqk8/rYanq05el/04.png'), auto;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    min-height: 80vh;
    margin: 100px auto;
}

#home {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    display: flex;
}

nav {
    position: fixed;
    border-top: 10px solid lavender;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    width: 100vw;
}

.nav-buffer {
    width: 100vw;
    height: 60px;
}

.nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: calc(100vw - 20px); */
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.logo {
    margin: 10px;
}

.nav-content > ul {
    list-style: none;
    padding: 0;
    display: flex;
    float: right
}

.nav-content > ul > a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
}

.nav-content > ul > a:hover {
    /* color: red; */
    border-bottom: 5px solid lightgoldenrodyellow;
}

#home > .content {
    margin: auto;
    padding: 50px;
    text-align: center;
}

#home > h1 {
    font-size: 40px;
}

#about {
    background-color: lavender;
}

#product {
}

.product-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.product {
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.product-card {
    width: 200px;
    margin: 30px;
}

.product-card a{
    /* width: 200px; */
    padding: 10px 20px;
    display: block;
    border: 1px solid black;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-family: 'Open Sans';
    text-align: center;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}
.product-card a:hover{
    background-color: whitesmoke;
    /* color:white; */
    /* border: 1px solid whitesmoke; */
}

.product-content {
    text-align: left;
    margin:0;
    padding-top: 10px;
}

.product-content > p {
    font-size: 16px;
    padding: 0 10px 0;
    margin: 0;
    font-family: 'Open Sans';
}

footer {
    background-color: black;
    color: white;
    height: 100px;
    padding: 40px 50px;
    font-family: 'Open Sans';
}

@media screen and (max-width: 900px ){

}